In [ ]:
# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
#     and while loop.

In [15]:
n = 10
sum1 = 0
for i in range(1,n+1):
    sum1 = sum1 +i
    i = i+1
    print (sum1)

1
3
6
10
15
21
28
36
45
55

In [16]:
# using while loop
n = 10
sum2 = 0
while (n>0):
    sum2 = sum2+n
    n = n-1
    print(sum2)

10
19
27
34
40
45
49
52
54
55

In [ ]:
# Q3. Create a python program to compute the electricity bill for a household.
# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
# unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [19]:
unit = int(input("Enter the electricity units consumed in a month "))
# making the case 
if unit <=100:
     electricity_bill = unit * 4.5
    #print ("electricity bill is ", electricity_bill)
elif 100<unit<200 :
     electricity_bill = 100* 4.5 + (unit - 100)*6
elif 200< unit<=300 :
     electricity_bill = 100 *4.5 + 100 *6 + (unit -200)*10
else :
     electricity_bill = 100*4.5 + 100 *6 + 100 *10 +(unit - 300)*20
print ("the total electricity bill is ", electricity_bill)

Enter the electricity units consumed in a month  310

the total electricity bill is  2250.0

In [ ]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
#     number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#     that list.

In [21]:
l = []
for i in range(1,100):
    if (i**3)%4==0 or (i**3)%5==0:
        l.append(i)

In [22]:
l

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98]

In [ ]:
# using while loop

In [1]:
l1 = []
n1 = 1
while (n1<100):
    cube_n = n1**3
    if (cube_n %4==0) or (cube_n %5==0):
    
        l1.append(n1)
    n1 = n1 +1    
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98]

In [ ]:
# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"

In [3]:
def check_vowels (string,vowels):
    final = [each for each in string if each in vowels]
    print(len(final))
    print(final)
string = "I want to become a data scientist"
vowels = "aAeEiIoOuU"

In [4]:
check_vowels(string,vowels)

12
['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']